.home {
  display: grid;
  grid-template-columns: 60px 1fr 374px;
  overflow: hidden;
  position: relative;
  background: #d1d1d162;
  margin-left: 27px;
  margin-bottom: 0;
 width:"100%";
 height: auto;
  @media screen and(max-width: 990px) {
    grid-template-columns: 60px 1fr;
    margin: 58px 20px 50px
  }

  @media screen and(max-width: 590px) {
    grid-template-columns: 1fr;
    margin: 58px 8px 50px;
  }

  .main {

    margin-top: 50px;
    .home-header {
      margin-left:30 ;
      margin: 0 auto 12px;
      text-align: center;
      
      .connection-form {
        background: $color-4;
        border-radius: 5px;
        padding: 20px;

        ul {
          display: flex;
          justify-content: center;
          margin-bottom: 18px;

          li {
            cursor: pointer;
            border-radius: 5px;
            padding: 12px 14px;
            transition: .2s;
            margin: 0 8px;
          }
          .active-btn {
            // background: $color-1;
  
            &:hover {
              // background: $color-2;
            }
          }
          li:not(.active-btn) {
            &:hover {
              transform: translateX(3px)
            }
          }
        }
        form {
          input {
            padding: 10px 14px;
            margin: 0;
            font-size: 1.2rem;
            font-family: $font-2;
            border-radius: 5px;
          
            &:focus {
              box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
            }
          }
          input[type=submit] {
            padding: 14px 14px;
            border-radius: 5px;
          }
        }
      }
    }
  }

  .stories {
   margin-right: -150px;
  }
  
  h3 {
    color: #095b7c;
    font-weight: bold;
  }
  .right-side {
    position: relative;
    width: 60%;
     margin: 80px 100px 0px 10px;
    background: white;
    color: #095b7c;
    padding: 20px;
    margin-left: 130px;
    
    @media screen and(max-width: 990px) {
      display: none;
      
    }
  
    .right-side-container {
      position: fixed;
      
      
    
    }
  }
}