@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Montserrat-Bold.otf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Montserrat-SemiBold.otf);
}
@font-face {
  font-family: "font-3";
  src: url(../assets/fonts/Montserrat-Medium.otf);
}


body {
  margin: 0;
  font-family: $font-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $font-2;
}
